<h1>pessoalist works!</h1>
<div class="container">
    <br>

    <div>
        <h3>Lista de Pessoas:</h3>
        <table>
            <tr>
                <th class="th-nome">Nome:</th>
                <th>Idade:</th>
            </tr>
            <tr *ngFor="let pessoa of lista">
                <td class="td-nome">{{pessoa.nome}}</td>
                <td>{{pessoa.idade}}</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Pessoas com mais de 30 Anos:</h3>
        <table>
            <tr>
                <th class="th-nome">Nome:</th>
                <th>Idade:</th>
            </tr>
            <tr *ngFor="let pessoa of lista">
                <td class="td-nome" *ngIf="pessoa.idade > 30">{{pessoa.nome}}</td>
                <td *ngIf="pessoa.idade > 30">{{pessoa.idade}}</td>
            </tr>
        </table>
    </div>
</div>