.container{
    display: flex;
    justify-content: center;
    
}

.th-nome{
    text-align: start;
}
.th-idade{
    text-align: center;
}
.td-nome{
    text-align: start;
}
h3{
    font-size: 1.5rem;
}