.container{
    display: flex;
    justify-content: center;
    
}
th{
    background-color: green;
    font-size: 2rem;
    width: 200px;
    text-align: center;
    padding: 10px;
    
}
td{
    padding: 10px;
    background-color: greenyellow;
    font-size: 1.5rem;
    text-align: center;
}
.th-nome{
    text-align: start;
}
.td-nome{
    text-align: start;
}
h3{
    font-size: 1.5rem;
}