<h1>livroslist works!</h1>
<input routerLink="" type="button" value="Menu principal" class="btn btn-danger">
<button class="btn btn-primary" (click)="abrirModal(content)">Adicionar um Livro na lista</button>
<button class="btn btn-warning">Editar um Livro da lista</button>
<div class="container">
    <br>
    <div>
        <h3>Lista de Livros:</h3>
        <table>
            <tr>
                <th class="th-titulo">Título:</th>
                <th class="th-editora">Editora</th>
                <th class="th-ano">Ano:</th>
            </tr>
            <tr *ngFor="let livro of lista">
                <td class="td-titulo">{{livro.titulo}}</td>
                <td class="th-editora">{{livro.editora}}</td>
                <td>{{livro.ano}}</td>
            </tr>
        </table>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">

                <app-livrosdetails (retorno)="addNaLista($event)"></app-livrosdetails>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
        </ng-template>
    </div>
</div>