<h1>livroslist works!</h1>
<input routerLink="" type="button" value="Menu principal">
<input routerLink="/admin/livros/criar" type="button" value="Adicionar um Livro na lista">
<input routerLink="/admin/livros/editar" type="button" value="Editar um Livro da lista">
<div class="container">
    <br>
    <div>
        <h3>Lista de Livros:</h3>
        <table>
            <tr>
                <th class="th-titulo">Título:</th>
                <th class="th-editora">Editora</th>
                <th>Ano:</th>
            </tr>
            <tr *ngFor="let livro of lista">
                <td class="td-titulo">{{livro.titulo}}</td>
                <td>{{livro.editora}}</td>
                <td>{{livro.ano}}</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Livros publicados a partir de 1998:</h3>
        <table>
            <tr>
                <th class="th-titulo">Título:</th>
                <th class="th-editora">Editora</th>
                <th>Ano:</th>
            </tr>
            <tr *ngFor="let livro of lista">
                <td class="td-titulo" *ngIf="livro.ano > 1998">{{livro.titulo}}</td>
                <td class="td-titulo" *ngIf="livro.ano > 1998">{{livro.editora}}</td>
                <td *ngIf="livro.ano > 1998">{{livro.ano}}</td>
            </tr>
        </table>
    </div>
</div>