:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
